body{
    width: 100%;
    background: rgb(17, 17, 54);
    color: white;
    font-family: Tahoma;
    font-size: 16px;
    margin: 0;
    padding-left: 30px;
}
.topform{
    display: inline;

}
fieldset{
    border: rgb(8, 8, 72);
    display: grid;
    padding-top: 0;
    margin-top: 0;
    padding-left: 0;
    width: 50%;
}
 fieldset input{
    width: 50%;
    background: rgb(0, 0, 19);
    border: rgb(1, 1, 19);
    margin-top: 10px;
    color: white;
    width: 70%;
 }

 hr{
    background: rgb(66, 64, 75);
    height: 2px;
    border: rgb(57, 57, 60);
    padding-bottom: 0;
    margin-bottom: 0;
 }
 .account{
    display: inline;
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
 }

 /* .account .personal{
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 8px;
    margin-left: 0px;
    padding-left: 0;
 } */

 /* .account .business{
    padding-top: 0;
    margin-top: 0;
    margin-left: 0px;
    padding-left: 0;
 } */

 /* .account .personal radio{
    margin-right: 0px;
    padding-right: 0;
 } */

 /* input#personal{
    margin: auto 0 0 0;
    padding: 0 0 0 0;
 } */
 /* input#business{
    margin: auto 0 0 0;
    padding: 0 0 0 0;
 } */

 .submit{
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
 }