body{
  min-height: 100vh;
     padding: 50px 20px;
     font-family: 'Lato', Helvetica, Arial, sans-serif;
     font-size: 20px;
     background-color: #1b1b32;
     color: #ffffff; 
 }
 h1{
     text-align: center;
     margin: 20px auto;
     max-width: 350px;
     font-family: 'Castoro Titling', cursive;
 }
 #main{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 #romanInput{
     color: #f5f6f7;
     margin: auto 25px;
     padding: 15px auto;
     border: 3px solid #f5f6f7;
     text-align: center;
     width: 90%;
     max-width: 500px;
     background-color: #3b3b4f;
 }
 #number{
     display: block;
     font-size: 2.5rem;
     width: 100%;
     height: 60px;
     padding: 6px 12px;
     margin: 10px 0;
     line-height: 1.4;
     color: white;
     background-color: #0a0a23;
     border: 1px solid #f5f6f7;
 }
 #convert-btn{
     cursor: pointer;
     margin-top: 15px;
     text-decoration: none;
     background-image: linear-gradient(#fecc4c, #ffac33);
     border: 3px solid #feac32;
     padding: 10px 16px;
     font-size: 23px;
     width: 100%;
 }
 .output{
     color: white;
     background-color: #3b3b4f;
     border: 3px solid #f5f6f7;
     font-size: 2.5rem;
     width: 90%;
     max-width: 500px;
     min-height: 55px;
     margin-top: 25px;
     padding: 15px;
     overflow-wrap: break-word;
     text-align: center;
 }
 .alert{
     font-size: 2rem;
     background-color: #ffadad;
     border: 3px solid #850000;
     color: #850000;
 }