body {
  background-color: white;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: 400;
  border: 4px solid black;
  border-radius: 3px;
  margin: 0;
  font-size: 17px;
}

.App{
  text-align: left;
  margin-top: 50px;
}

.name{
  margin-left: 75px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

input{
  width: 450px;
  cursor: pointer;
}

.name-error{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color:#cd4141;
  margin-top: 5px;
  margin-left: 16px;
  font-size: medium;
}

select{
  width: 475px;
}

input, select {
  border: 3px solid black;
  border-radius: 5px;
  padding: 6px 7px 6px;
  margin-left: 6px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: 400;
  font-size: 15px;
}

textarea:focus, input:focus, select:focus{
  border: 3px solid black;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}

.country{
  margin-left: 50px;
  margin-bottom: 50px;
  position: relative;
  display: inline-block;
}

.country select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.country::after{
  content: "▼";
  position: absolute;
  font-size: 14px;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
  pointer-events: none;
}

.country::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 35px;
  width: 3px;
  height: 85%;
  background-color: black;
  transform: translateY(-50%); 
}


.buttons{
  display: flex;
  justify-content: flex-end;
}

.add, .clear{
  margin-right: 54px;
  width: 75px;
  padding: 5px 0px 5px 0;
  border: 3px solid black;
  border-radius: 3px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 17px;
  font-weight: 400;
  box-shadow: 4px 4px 0px 0px;
  cursor: pointer;
}
.table-div{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
table {
  border-collapse: collapse;
  width: 50%;
  border: 3px solid black;
  margin: 20px auto;
}

td, th {
  border-right: 2px solid black;
  text-align: left;
}

tr{
  border-bottom: 1px solid #D8D8D8;
}

td {
  padding: 20px;
}

th {
  background-color: #D8D8D8;
  font-weight: bold;
}

tbody tr:nth-child(odd){
  background-color: #F5F5F5;
}


